h1 {
    font-family: arial;
    text-align: center;
}
.header {
    padding: 12px;
    border: none;
}
p {
    text-align: center;
    font-family: arial;
}
.btns-move {
    padding: 7px;
}
.btns {
    text-align: center;
}
.btn {
    height: 30px;
    width: 90hpx;
    background-color: rgba(213, 197, 197, 0);
    border: 1px solid;
    border-radius: 5px;
}
.btn:hover {
    border-radius: 2px;
    cursor: pointer;
    background-color: rgba(135, 135, 135, 0.096);
}
.btn:active {
    background-color: rgba(87, 87, 87, 0.127);
    border-radius: 2px;
}
.othersites {
    padding: 50px;
    border: 1px solid;
}
.gameButtons {
    padding: 50px;
    border: 1px solid;
}
.appButtons {
    padding: 50px;
    border: 1px solid;
}
.movieButtons {
    padding: 50px;
    border: 1px solid;
}
.jmRanked {
    padding: 50px;
    border: 1px solid;
}
.youTube {
    padding: 50px;
    border: 1px solid;
}
.otherBtns {
    padding: 50px;
    border: 1px solid;
}
a {
    color: black;
    text-decoration: underline;
    font-family: arial;
}
body {
    background: radial-gradient(circle, rgba(0, 255, 255, 0.5), rgba(0, 0, 0, 0.5));
    color: black;
}
div {
    text-align: center;
}
div embed {
    width: 875px;
    height: 550px;
}
.banner {
    border: solid 1px;
    background-color: rgb(255, 0, 0);
}
